workflows/make/youtube_link_to_transcript.json
{
    "name": "Youtube Link Parser",
    "flow": [
        {
            "id": 1,
            "module": "google-sheets:watchRows",
            "version": 2,
            "parameters": {
                "from": "drive",
                "mode": "select",
                "limit": 10,
                "sheetId": "URLs",
                "__IMTCONN__": 12720422,
                "spreadsheetId": "/1FxPEiLovJcMd_mm8odRneXALJRp4OUyG/1tNO_lMOyPIKjYQLBtxBQaAbm2kJrarmA375haS8VOj0",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "URLs"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "Personal Account (karmav44990@gmail.com)"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Youtube Parsing",
                                "Transcript Generator"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "text",
                        "label": "Row with headers",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "URL (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "(B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "(C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "(D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "(E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "(F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "(G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "(H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            }
        },
        {
            "id": 16,
            "module": "postgres:Query",
            "version": 2,
            "parameters": {
                "account": 12721065,
                "continueWhenNoRes": false,
                "isToManageDataInSharedTransaction": true
            },
            "mapper": {
                "command": "SELECT COUNT(*) from public.youtube_videos WHERE url = '{{1.`0`}}'"
            },
            "metadata": {
                "designer": {
                    "x": 410,
                    "y": 13
                },
                "restore": {
                    "parameters": {
                        "account": {
                            "data": {
                                "scoped": "true",
                                "connection": "postgres"
                            },
                            "label": "NEONDB Posgresql (neondb_owner@ep-purple-fire-ag5mwkps-pooler.c-2.eu-central-1.aws.neon.tech:5432/neondb)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:postgres",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module returns no rows",
                        "required": true
                    },
                    {
                        "name": "isToManageDataInSharedTransaction",
                        "type": "boolean",
                        "label": "Manage data within the shared transaction",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "command",
                        "type": "text",
                        "label": "Command",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "apify:runActorNew",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 12720516
            },
            "filter": {
                "name": "URL does not exist",
                "conditions": [
                    [
                        {
                            "a": "{{16.count}}",
                            "b": "0",
                            "o": "number:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "build": "0.0.43",
                "actorId": "CTQcdDtqW5dvELvur",
                "runSync": true,
                "timeout": "120",
                "actor_search_type": "user",
                "inputBodyCTQcdDtqW5dvELvur": "{\n    \"startUrls\": [\n        \"{{1.`0`}}\"\n    ],\n    \"language\": \"Default\",\n    \"includeTimestamps\": \"Yes\"\n}"
            },
            "metadata": {
                "designer": {
                    "x": 814,
                    "y": -8
                },
                "restore": {
                    "expect": {
                        "memory": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "actorId": {
                            "mode": "edit"
                        },
                        "runSync": {
                            "mode": "chose"
                        },
                        "actor_search_type": {
                            "label": "Recently used Actors"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "apify2"
                            },
                            "label": "My Apify [Recommended] connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:apify2,apify",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "actor_search_type",
                        "type": "select",
                        "label": "Search Actors from",
                        "required": true,
                        "validate": {
                            "enum": [
                                "user",
                                "store"
                            ]
                        }
                    },
                    {
                        "name": "runSync",
                        "type": "boolean",
                        "label": "Run synchronously",
                        "required": true
                    },
                    {
                        "name": "build",
                        "type": "text",
                        "label": "Build"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout"
                    },
                    {
                        "name": "memory",
                        "type": "select",
                        "label": "Memory",
                        "validate": {
                            "enum": [
                                128,
                                256,
                                512,
                                1024,
                                2048,
                                4096,
                                8192,
                                16384,
                                32768
                            ]
                        }
                    },
                    {
                        "name": "actorId",
                        "type": "select",
                        "label": "Actor",
                        "required": true
                    },
                    {
                        "name": "inputBodyCTQcdDtqW5dvELvur",
                        "type": "text",
                        "label": "Input JSON",
                        "required": true
                    },
                    {
                        "name": "maxTotalChargeUsd",
                        "type": "hidden",
                        "label": "Maximum cost per run"
                    },
                    {
                        "name": "maxItems",
                        "type": "hidden",
                        "label": "Maximum charged results"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "apify:fetchDatasetItems",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 12720516
            },
            "mapper": {
                "type": "clean",
                "limit": "100",
                "format": "json",
                "datasetId": "{{2.defaultDatasetId}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "type": {
                            "mode": "chose",
                            "label": "Clean"
                        },
                        "format": {
                            "mode": "chose",
                            "label": "JSON"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "apify2"
                            },
                            "label": "My Apify [Recommended] connection (karmav44990@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:apify2,apify",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "datasetId",
                        "type": "text",
                        "label": "Dataset ID",
                        "required": true
                    },
                    {
                        "name": "type",
                        "type": "select",
                        "label": "Data transformation",
                        "required": true,
                        "validate": {
                            "enum": [
                                "clean",
                                "simplified",
                                "none"
                            ]
                        }
                    },
                    {
                        "name": "format",
                        "type": "select",
                        "label": "Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "json",
                                "csv",
                                "html",
                                "xml",
                                "rss",
                                "xlsx"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "validate": {
                            "max": 100000,
                            "min": 1
                        }
                    },
                    {
                        "name": "offset",
                        "type": "uinteger",
                        "label": "Offset",
                        "validate": {
                            "min": 0
                        }
                    }
                ]
            }
        },
        {
            "id": 15,
            "module": "postgres:InsertIntoTable",
            "version": 2,
            "parameters": {
                "table": "\"public\".\"youtube_videos\"",
                "account": 12721065,
                "isToManageDataInSharedTransaction": true
            },
            "mapper": {
                "@id": "",
                "@url": "{{6.url}}",
                "@views": "{{6.views}}",
                "@created_at": "",
                "@transcript": "{{6.transcript}}",
                "@updated_at": "",
                "@video_title": "{{6.videoTitle}}",
                "@channel_name": "{{6.channelName}}",
                "@video_post_date": "{{6.videoPostDate}}",
                "@channel_subscription": "{{6.channelSubscription}}"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "table": {
                            "label": "public.youtube_videos"
                        },
                        "account": {
                            "data": {
                                "scoped": "true",
                                "connection": "postgres"
                            },
                            "label": "NEONDB Posgresql (neondb_owner@ep-purple-fire-ag5mwkps-pooler.c-2.eu-central-1.aws.neon.tech:5432/neondb)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:postgres",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "isToManageDataInSharedTransaction",
                        "type": "boolean",
                        "label": "Manage data within the shared transaction",
                        "required": true
                    },
                    {
                        "name": "returnRows",
                        "type": "boolean",
                        "label": "Return Rows"
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "@id",
                        "type": "integer",
                        "label": "id"
                    },
                    {
                        "name": "@channel_name",
                        "type": "text",
                        "label": "channel_name"
                    },
                    {
                        "name": "@channel_subscription",
                        "type": "text",
                        "label": "channel_subscription"
                    },
                    {
                        "name": "@video_title",
                        "type": "text",
                        "label": "video_title"
                    },
                    {
                        "name": "@url",
                        "type": "text",
                        "label": "url"
                    },
                    {
                        "name": "@views",
                        "type": "text",
                        "label": "views"
                    },
                    {
                        "name": "@video_post_date",
                        "type": "text",
                        "label": "video_post_date"
                    },
                    {
                        "name": "@transcript",
                        "type": "text",
                        "label": "transcript"
                    },
                    {
                        "name": "@created_at",
                        "type": "text",
                        "label": "created_at"
                    },
                    {
                        "name": "@updated_at",
                        "type": "text",
                        "label": "updated_at"
                    }
                ],
                "interface": [
                    {
                        "name": "rowsAffected",
                        "type": "number",
                        "label": "Affected rows"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}